<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Parking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Espacios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas" routerLinkActive="active">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historico-reserva" routerLinkActive="active">Histórico Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()"routerLinkActive="active">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
